.container {
    display:grid;
    grid-template-columns:repeat(6,1fr);
    border: 5px solid black;
    grid-auto-rows: 270px;
    grid-column-gap:1em;
    grid-row-gap:1em;
    padding:1em;
}

.boo {
    border-style: dashed;
}

